#font-face{
    font-family: 'Montserrat';
    src: url('../fontes/static/Montserrat-Regular.ttf');
    font-weight: normal;
}

#font-face{
    font-family: 'Montserrat';
    src: url('../fontes/static/Montserrat-Bold.ttf');
    font-weight: 600;
}

#font-face{
    font-family: 'Montserrat';
    src: url('../fontes/static/Montserrat-Light.ttf');
    font-weight: 300;
}